#######################
## General ############
#######################
.idea

#######################
## Laradock ###########
#######################
/laradock/logs
/laradock/data
/laradock/
/laradock/.project
/laradock/.docker-sync
/laradock/jenkins/jenkins_home

/laradock/logstash/pipeline/*.conf
/laradock/logstash/config/pipelines.yml

/laradock/nginx/ssl/*.crt
/laradock/nginx/ssl/*.key
/laradock/nginx/ssl/*.csr

#######################
## Laravel ############
#######################
/laravel/node_modules
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
/laravel/.phpunit.result.cache
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/npm-debug.log
/laravel/yarn-error.log